@{
Layout = "_TopNavbar";
}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
      <link rel="stylesheet" href="~/css/Privacypolicy.css" asp-append-version="true" />
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   </head>
   <body>
      <div class="container">
         <div class="container-fluid privacycontainer">
            <div class="row">
               <div class="col-12">
                  <lable class="fs-1 ms-2">
                     Privacy and Cookies Policy
                  </lable>
               </div>
               <div class="row mt-3">
                  <div class="col-12 col-md-3 mt-2">
                     <div id="list-example">
                        <a class="" href="#list-item-1">Introduction</a>
                        <a class="" href="#list-item-2">How does use cookies? </a>
                        <a class="" href="#list-item-3">How to manage your cookie preferences?</a>
                     </div>
                  </div>
                  <div class="col-12 col-md-9">
                     <div data-bs-spy="scroll" id="list-desc-privacy" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                        <h4 id="list-item-1">Introduction</h4>
                        <div class="mt-3 mb-5">
                           <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                           <p/>
                           <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                           <p/>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                           </p>
                        </div>
                        <hr/>
                        <h4 class="mt-3" id="list-item-2">How does use cookies?</h4>
                        <div class="mt-3 mb-5">
                           <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                           <h5>Why Optimy Uses These Technologies?</h5>
                           <p> We use these technologies for a number of purposes, such as:</p>
                           <ul>
                              <li>But I must explain to you how ll this mistaken idea of denouncing pleasure and praising pain.</li>
                              <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi. 
                              <li>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain. 
                              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</li>
                           </ul>
                           <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                        </div>
                        <hr/>
                        <h4 class="mt-3" id="list-item-3">How to manage your cookie preferences?</h4>
                        <div class="mt-3 mb-5">
                           <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                           <h5>Subtitle goes here</h5>
                           <ol>
                              <li>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain. 1.1. On the other hand, we denounce with righteous indignation and dislike men who are so beguiled. 1.2. On the other hand, we denounce with righteous indignation and dislike men who are so beguiled.</li>
                              <li> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</li>
                              <li>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized </li>
                              <li>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain. </li>
                              <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</li>
                           </ol>
                           <h1>The first level heading - H1</h1>
                           <h2>The second level heading - H2</h2>
                           <h3>The third level heading - H3</h3>
                           <h4>The forth level heading - H4 </h4>
                           <h5>The fifth level heading - H5</h5>
                           <h6>The sixth level heading - H6</h6>
                           <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script>

          // load sidebar slug
          function loadSidebar(response) {
              return response.result.map(item => `<div class="d-flex"><a class="list-group-item list-group-item-action" href="#${item.slug}">${item.title}</a>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                                </svg>
                                                </div><hr/>`).join("");
          }

          //load main content
          function loadDesc(response) {
              return response.result.map(item => `<h4 id="${item.slug}">${item.title}</h4>
                                                    <div class="mt-3 mb-5">
                                                       ${item.description}
                                                    </div>
                                                  <hr/>`).join("");
          }

          // to load data from CMS-Table
          $.ajax({
                type: "GET",
                url: `/api/privacy`,
                processData: false,
                success: function (response) {

                    console.log(response);

                    var sidebar = document.getElementById('list-example');
                    sidebar.innerHTML = loadSidebar(response);
                    
                    var Main = document.getElementById('list-desc-privacy');
                    Main.innerHTML = loadDesc(response);

                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
             });
         
      </script>
   </body>
</html>