@{
    Layout = "_Empty";
    ViewData["Title"] = "Stories";
}


<div>
    <div class="container-fluid well" id="home" style="display:block;">
        <div class="row">
            <div class="col-lg-2 dashboard-sidebar-toggle" style="height: 100vh;">
                <div class="sidebar" id="sidebar-divs">
                    <div class="mb-3">Navigation</div>
                    <div class="sidebar-detail dashbord-sidebar-detail dashboard-active-tab d-flex" id="User" onclick="makeDivActive('User')" style="cursor:pointer;">
                        <img src="~/img/user-solid.svg" alt="" class="dashboard-active sidebarimg">
                        <div class="title-name">User</div>
                    </div>
                    <div class="sidebar-detail d-flex" id="CMS-Page" onclick="makeDivActive('CMS-Page')" style="cursor:pointer;">
                        <img src="~/img/file-solid.svg" alt="" class="graph-default sidebarimg ">
                        <div class="title-name">CMS Page</div>
                    </div>
                    <div class="sidebar-detail d-flex" id="Mission" onclick="makeDivActive('Mission')" style="cursor:pointer;">
                        <img src="~/img/bullseye-solid.svg" alt="" class="inbox-default sidebarimg ">
                        <div class="title-name">Mission</div>
                    </div>
                    <div class="sidebar-detail d-flex" id="Mission-Theme" onclick="makeDivActive('Mission-Theme')" style="cursor:pointer;">
                        <img src="~/img/grid-fill.svg" alt="" class="clock-default sidebarimg ">
                        <div class="title-name">Mission Theme</div>
                    </div>
                    <div class="sidebar-detail d-flex" id="Mission-SKills" onclick="makeDivActive('Mission-SKills')" style="cursor:pointer;">
                        <img src="~/img/tools-fill.svg" alt="" class="user-default sidebarimg ">
                        <div class="title-name">Mission Skills</div>
                    </div>
                    <div class="sidebar-detail d-flex" id="Mission-Applications" onclick="makeDivActive('Mission-Applications')" style="cursor:pointer;">
                        <img src="~/img/folder-fill.svg" alt="" class="maintenance-default sidebarimg ">
                        <div class="title-name">Mission Applications</div>
                    </div>
                    <div class="sidebar-detail d-flex" id="Story" onclick="makeDivActive('Story')" style="cursor:pointer;">
                        <img src="~/img/book-fill.svg" alt="" class="setting-default sidebarimg ">
                        <div class="title-name">Story</div>
                    </div>
                    <div class="sidebar-detail d-flex" id="Banner-Management" onclick="makeDivActive('Banner-Management')" style="cursor:pointer;">
                        <img src="~/img/pulse-line.svg" alt="" class="setting-default sidebarimg ">
                        <div class="title-name">Banner Management</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-12 maindashboard">
                <nav class="navbar navbar-expand-lg admin-user-profile-section shadow-none" style="background-color: #ffffff;">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                            <span><img src="~/img/menu-bar.svg" alt="logo"></span>
                        </button>
                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                             aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                                <div class="offcanvas-title" id="offcanvasNavbarLabel">Navigation</div>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body" style="justify-content: end;">
                                <ul class="navbar-nav justify-content-end dashboard-nav-sidebar-toggle">
                                    <li class="nav-item d-flex align-items-center">
                                        <div class="sidebar-detail dashbord-sidebar-detail-mobile dashboard-active-tab d-flex" id="div1m" onclick="makeDivActive('div1m')">
                                            <img src="~/img/dashboard-active.svg" alt="" class="dashboard-active sidebarimg">
                                            <div class="title-name">User</div>
                                        </div>
                                    </li>
                                    <li class="nav-item d-flex align-items-center">
                                        <div class="sidebar-detail d-flex" id="div2m" onclick="makeDivActiveMobile('div2m')">
                                            <img src="~/img/graph-default.svg" alt="" class="graph-default sidebarimg ">
                                            <div class="title-name">CMS Page</div>
                                        </div>
                                    </li>
                                    <li class="nav-item d-flex align-items-center">
                                        <div class="sidebar-detail d-flex" id="div3m" onclick="makeDivActiveMobile('div3m')">
                                            <img src="~/img/inbox-default.svg" alt="" class="inbox-default sidebarimg ">
                                            <div class="title-name">Mission</div>
                                        </div>
                                    </li>
                                    <li class="nav-item d-flex align-items-center">
                                        <div class="sidebar-detail d-flex" id="div4m" onclick="makeDivActiveMobile('div4m')">
                                            <img src="~/img/clock-default.svg" alt="" class="clock-default sidebarimg ">
                                            <div class="title-name">Mission Theme</div>
                                        </div>
                                    </li>
                                    <li class="nav-item d-flex align-items-center">
                                        <div class="sidebar-detail d-flex" id="div5m" onclick="makeDivActiveMobile('div5m')">
                                            <img src="~/img/user-default.svg" alt="" class="user-default sidebarimg ">
                                            <div class="title-name">Mission SKills</div>
                                        </div>
                                    </li>
                                    <li class="nav-item d-flex align-items-center">
                                        <div class="sidebar-detail d-flex" id="div6m" onclick="makeDivActiveMobile('div6m')">
                                            <img src="~/img/maintenance-default.svg" alt="" class="maintenance-default sidebarimg ">
                                            <div class="title-name">Mission Applications</div>
                                        </div>
                                    </li>
                                    <li class="nav-item d-flex align-items-center">
                                        <div class="sidebar-detail d-flex" id="div7m" onclick="makeDivActiveMobile('div7m')">
                                            <img src="~/img/setting-default.svg" alt="" class="setting-default sidebarimg ">
                                            <div class="title-name">Story</div>
                                        </div>
                                    </li>
                                    <li class="nav-item d-flex align-items-center">
                                        <div class="sidebar-detail d-flex" id="div8m" onclick="makeDivActiveMobile('div8m')">
                                        <img src="~/img/setting-default.svg" alt="" class="setting-default sidebarimg ">
                                        <div class="title-name">Banner Management</div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="navbar-nav justify-content-between" style="width:100%">
                                    <li id="dashboard-time">
                                    </li>
                                    <li class="nav-item d-flex align-items-center">
                                        <div class="dropdown">
                                            <a class="text-reset dropdown-toggle d-flex align-items-center" href="#"
                                               id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown"
                                               aria-expanded="false">
                                                <img src="~/mediaUpload/@ViewBag.user.Avatar" class="rounded-circle me-3" height="22" alt=""
                                                     loading="lazy" style="
                                                                    width: 30px;
                                                                    height: 30px;
                                                                " />
                                                @ViewBag.user.FirstName @ViewBag.user.LastName
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownMenuLink">
                                                @if (ViewBag.user.Admin == 1)
                                                {
                                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Admin">Admin</a></li>
                                                }
                                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Profile">My profile</a></li>
                                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Timesheet">Volunteering Timesheet</a></li>
                                                <li><a class="dropdown-item" asp-action="Logout" asp-controller="User">Logout</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>


                <div class="container" id="selected-option-title" style="position: relative;">
                    User
                    <hr />
                </div>
                <div class="container admin-data-table" id="admin-data-table">
                </div>
                @*
                    <table class="table container table-striped table-hover" id='example'></table>
                *@
            </div>
        </div>
    </div>
</div>

@*
    all the modals for crud
*@


@*
    User Crud Modal
*@

<div class="modal fade" id="User-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">

                <div class="form-group col-12 mt-3">
                    <input class="d-none" type="file" id="myFileInput" />
                    <div class="user-profile-div" id="profile-user-img">
                        <img src="/img/user1.png" alt="" class="rounded-circle user-profile-img" onclick="document.getElementById('myFileInput').click()" style="cursor:pointer;width: 100px;height: 100px;">
                    </div>
                </div>
                <div class="form-group col-md-6 mt-3">
                    <label for="exampleInputEmail1">First Name</label>
                    <input type="text" class="form-control" id="user-crud-first-name" placeholder="Enter First Name" maxlength="16">
                    <span class="d-none mb-3 form-validation-msg" id="user-crud-first-name-error"></span>
                </div>
                <div class="form-group col-md-6 mt-3">
                    <label for="exampleInputEmail1">Last Name</label>
                    <input type="text" class="form-control" id="user-crud-last-name" placeholder="Enter Last Name" maxlength="16">
                    <span class="d-none mb-3 form-validation-msg" id="user-crud-last-name-error"></span>
                </div>
                <div class="form-group col-md-6 mt-3">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="user-crud-email" aria-describedby="emailHelp" placeholder="Enter email" value="" autocomplete="off">
                    <span class="d-none mb-3 form-validation-msg" id="user-crud-email-error"></span>
                </div>
                <div class="form-group col-md-6 mt-3">
                    <label for="exampleInputEmail1">Password</label>
                    <input type="password" class="form-control" id="user-crud-password" placeholder="Enter password" value="" autocomplete="off">
                    <span class="d-none mb-3 form-validation-msg" id="user-crud-password-error"></span>
                </div>

                <div class="form-group col-md-6 mt-3">
                    <label for="exampleInputEmail1">Employee Id</label>
                    <input type="number" class="form-control" id="user-crud-employee-id" placeholder="Enter employee id" maxlength="10">
                    <span class="d-none mb-3 form-validation-msg" id="user-crud-employee-id-error"></span>
                </div>
                <div class="form-group col-md-6 mt-3">
                    <label for="exampleInputEmail1">Department</label>
                    <input type="text" class="form-control" id="user-crud-department" placeholder="Enter department" maxlength="16">
                    <span class="d-none mb-3 form-validation-msg" id="user-crud-department-error"></span>
                </div>
                <div class="form-group col-md-6 mt-3">
                    <label for="exampleInputEmail1">Mobile Number</label>
                    <input type="number" class="form-control" id="user-crud-mobile-number" placeholder="Enter phone number">
                    <span class="d-none mb-3 form-validation-msg" id="user-crud-mobile-number-error"></span>
                </div>
                <div class="col-lg-6 col-md-10 d-flex flex-column mt-3">
                    <label for="exampleFormControlTextarea1">Status</label>

                    <select class="form-control form-select mt-2" aria-label="Default select example" id="user-crud-status-dropdown">
                        <option value="1" selected>Active</option>
                        <option value="0">In-Active</option>
                    </select>
                </div>
                <div class="col-lg-6 col-md-10 d-flex flex-column mt-3">
                    <label for="exampleFormControlTextarea1">Country</label>

                    <select class="form-control form-select mt-2" aria-label="Default select example" id="user-crud-country-dropdown" onchange="loadCityForCountry(this.value)">
                        <option class="country-option" value="0" selected>Please Select Country</option>


                    </select>
                    <span class="d-none mb-3 form-validation-msg" id="user-crud-country-dropdown-error"></span>
                </div>
                <div class="col-lg-6 col-md-10 d-flex flex-column mt-3">
                    <label for="exampleFormControlTextarea1">City</label>

                    <select class="form-control form-select mt-2" aria-label="Default select example" id="user-crud-city-dropdown">
                        <option value="0" selected hidden disabled>Please Select Country First</option>
                    </select>
                    <span class="d-none mb-3 form-validation-msg" id="user-crud-city-dropdown-error"></span>
                </div>

                <div class="form-group col-md-12 mt-3">
                    <label for="exampleInputEmail1">Profile Text</label>
                    <textarea class="form-control" id="user-crud-profile-text" rows="2"></textarea>
                    <span class="d-none mb-3 form-validation-msg" id="user-crud-profile-text-error"></span>
                </div>

            </div>
            <div class="modal-footer" id="user-crud-modal-btn">
                <button type="button" class="btn btn-secondary user-crud-close-btn" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary user-crud-save-btn" id="user-crud-save-btn" onclick="AddUserModal()">Save changes</button>
            </div>
        </div>
    </div>
</div>

@*
    CMS Page Crud Modal
*@

<div class="modal fade" id="CMS-Page-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CMS Page</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="form-group mt-3">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="text" class="form-control" name="CMSTitle" id="cms-crud-title" placeholder="Enter Title">
                    <span class="d-none mb-3 form-validation-msg" id="cms-crud-title-error"></span>
                </div>
                <div class="form-group mt-3">
                    <label for="exampleInputEmail1">Description</label>
                    <textarea class="cmspageeditor" id="cmspageeditor" name="cmspageeditor"></textarea>
                </div>
                <div class="form-group mt-3">
                    <label for="exampleInputEmail1">Slug</label>
                    <input type="text" class="form-control" name="Slug" id="cms-crud-Slug" placeholder="Enter Slug">
                    <span class="d-none mb-3 form-validation-msg" id="cms-crud-Slug-error"></span>
                </div>
                <div class="form-group mt-3">
                    <label for="exampleInputEmail1">Status</label>
                    <select class="form-control form-select mt-2" name="Status" aria-label="Default select example" id="cms-crud-status">
                        <option value="Pending" selected>Pending</option>
                        <option value="Published">Published</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer" id="cms-page-modal-btn">
                <button type="button" class="btn btn-secondary cms-crud-close-btn" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary cms-crud-save-btn" data-bs-dismiss="modal" id="cms-crud-save-btn" onclick="addCMS()">Save changes</button>
            </div>

        </div>
    </div>
</div>


@*
    Mission Theme Crud Modal
*@

<div class="modal fade" id="Mission-Theme-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mission Theme</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="form-group mt-3">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="text" class="form-control" name="MTTitle" id="mission-theme-crud-title" placeholder="Enter Title">
                    <span class="d-none mb-3 form-validation-msg" id="mission-theme-crud-title-error"></span>
                </div>
                <div class="form-group mt-3">
                    <label for="exampleInputEmail1">Status</label>
                    <select class="form-control form-select mt-2" name="Status" aria-label="Default select example" id="mission-theme-crud-status">
                        <option value="Pending" selected>Pending</option>
                        <option value="Published">Published</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer" id="mission-theme-crud-btn">
                <button type="button" class="btn btn-secondary mission-theme-crud-close-btn" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary mission-theme-crud-save-btn" data-bs-dismiss="modal" id="mission-theme-crud-save-btn" onclick="AddMissionTheme()">Save changes</button>
            </div>

        </div>
    </div>
</div>

@*
    Mission Skill Crud Modal
*@

<div class="modal fade" id="Mission-SKills-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mission Skill</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="form-group mt-3">
                    <label for="exampleInputEmail1">Skill Name</label>
                    <input type="text" class="form-control" id="mission-skill-crud-title" placeholder="Enter skill name">
                    <span class="d-none mb-3 form-validation-msg" id="mission-skill-crud-title-error"></span>
                </div>
                <div class="form-group mt-3">
                    <label for="exampleInputEmail1">Status</label>
                    <select class="form-control form-select mt-2" aria-label="Default select example" id="mission-skill-crud-status">
                        <option value="Pending" selected>Pending</option>
                        <option value="Published">Published</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer" id="mission-skill-crud-btn">
                <button type="button" class="btn btn-secondary mission-skill-crud-close-btn" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary mission-skill-crud-save-btn" id="mission-skill-crud-save-btn" onclick="AddMissionSkill()">Save changes</button>
            </div>

        </div>
    </div>
</div>


@*
    mission modal
*@
<div class="modal fade" id="Mission-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mission</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="mission-title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="mission-title">
                        <span class="d-none mb-3 form-validation-msg" id="mission-title-error"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="mission-organization" class="form-label">Organization</label>
                        <input type="text" class="form-control" id="mission-organization">
                        <span class="d-none mb-3 form-validation-msg" id="mission-organization-error"></span>
                    </div>
                    <div class="form-group mt-3 col-md-6">
                        <label for="exampleInputEmail1" class="form-label">Mission Description</label>
                        <textarea class="cmspageeditor" id="cmspageeditor1" name="cmspageeditor"></textarea>
                    </div>
                    <div class="form-group mt-3 col-md-6">
                        <label for="exampleInputEmail1" class="form-label">Mission Organisation Detail</label>
                        <textarea class="cmspageeditor" id="cmspageeditor2" name="cmspageeditor"></textarea>
                    </div>
                    <div class="form-group mt-3 col-md-6">
                        <lable for="mission-start-date" class="form-label">Mission start date</lable>
                        <input class="form-control" type="datetime-local" id="mission-start-date" min="0" />
                        <span class="d-none mb-3 form-validation-msg" id="mission-start-date-error"></span>
                    </div>
                    <div class="form-group mt-3 col-md-6">
                        <lable for="mission-end-date" class="form-label">Mission end date</lable>
                        <input class="form-control" type="datetime-local" id="mission-end-date" />
                        <span class="d-none mb-3 form-validation-msg" id="mission-end-date-error"></span>
                    </div>
                    <div class="form-group mt-3 col-md-4">
                        <lable for="mission-country" class="form-label">Country</lable>
                        <select class="form-select" aria-label="Default select example" id="mission-country" onchange="loadCityForCountry(this.value)">
                            <option selected disabled hidden>Open this select menu</option>

                        </select>
                        <span class="d-none mb-3 form-validation-msg" id="mission-country-error"></span>
                    </div>
                    <div class="form-group mt-3 col-md-4">
                        <lable for="mission-city" class="form-label">City</lable>
                        <select class="form-select" aria-label="Default select example" id="mission-city">
                            <option selected disabled hidden>Open this select menu</option>

                        </select>
                        <span class="d-none mb-3 form-validation-msg" id="mission-city-error"></span>
                    </div>
                    <div class="form-group mt-3 col-md-4">
                        <lable for="mission-type" class="form-label">Mission Type</lable>
                        <select class="form-select" aria-label="Default select example" id="mission-type">
                            <option selected disabled hidden>Open this select menu</option>
                            <option value="Time">Time</option>
                            <option value="Goal">Goal</option>
                        </select>
                        <span class="d-none mb-3 form-validation-msg" id="mission-type-error"></span>
                    </div>
                    <div class="form-group mt-3 col-md-4">
                        <label for="mission-seats" class="form-label" style="margin: 0;">Total Seats</label>
                        <input type="number" class="form-control" id="mission-seats">
                    </div>
                    <div class="form-group mt-3 col-md-4">
                        <lable for="mission-registration-deadline" class="form-label">Mission registration deadline</lable>
                        <input class="form-control" type="datetime-local" id="mission-registration-deadline" />
                    </div>
                    <div class="form-group mt-3 col-md-4">
                        <lable for="mission-status" class="form-label">Mission Status</lable>
                        <select class="form-select" aria-label="Default select example" id="mission-status">
                            <option selected disabled hidden>Open this select menu</option>
                            <option value="1">Active</option>
                            <option value="0">In-Active</option>
                        </select>
                        <span class="d-none mb-3 form-validation-msg" id="mission-status-error"></span>
                    </div>

                    <div class="form-group mt-3 col-md-6">
                        <label for="mission-objective" class="form-label" style="margin: 0;">Mission Objective</label>
                        <input type="text" class="form-control" id="mission-objective">
                    </div>
                    <div class="form-group mt-3 col-md-6">
                        <lable for="mission-target" class="form-label">Mission Target</lable>
                        <input class="form-control" type="number" id="mission-target" />
                    </div>

                    <div class="form-group mt-3 col-md-6">
                        <lable for="mission-theme" class="form-label">Mission Theme</lable>
                        <select class="form-select" aria-label="Default select example" id="mission-theme">
                            <option selected disabled hidden>Open this select menu</option>

                        </select>
                        <span class="d-none mb-3 form-validation-msg" id="mission-theme-error"></span>
                    </div>
                    <div class="form-group mt-3 col-md-6">
                        <lable for="mission-availability" class="form-label">Mission Availability</lable>
                        <select class="form-select" aria-label="Default select example" id="mission-availability">
                            <option selected disabled hidden>Open this select menu</option>
                            <option value="daily">daily</option>
                            <option value="weekly">weekly</option>
                            <option value="weekend">weekend</option>
                        </select>
                        <span class="d-none mb-3 form-validation-msg" id="mission-availability-error"></span>
                    </div>


                    <div class="form-group mt-3 col-md-4">
                        <lable for="mission-images" class="form-label">Mission Media</lable>
                        <input id="mission-images" name="input2[]" type="file" class="file" data-show-caption="true" multiple onchange="InsertMissionImage()" accept="image/*">
                    </div>
                    <div class="form-group mt-3 col-md-8 row" id="mission-media-edit-files">
                    </div>
                    <div class="form-group mt-3 col-md-4">
                        <lable for="mission-document" class="form-label">Mission Document</lable>
                        <input id="mission-document" name="input2[]" type="file" class="file" data-show-upload="false" data-show-caption="true" multiple onchange="InsertMissionDocs()" accept="application/pdf    ">
                    </div>
                    <div class="form-group mt-3 col-md-8 row" id="mission-docs-edit-files">
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="mission-crud-btn">
                <button type="button" class="btn btn-secondary mission-skill-crud-close-btn" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary mission-skill-crud-save-btn" id="mission-crud-save-btn" onclick="AddMission()">Save changes</button>
            </div>

        </div>
    </div>
</div>

@*banner management*@
<div class="modal fade" id="Banner-Management-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Banner Managment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="form-group mt-3 row">
                    <div class="form-group mt-3 col-md-6">
                        <lable for="banner-images" class="form-label">Banner Media</lable>
                        <input id="banner-images" name="input2[]" type="file" class="file" accept="image/*">
                    </div>
                    <div class="form-group mt-3 col-md-6 row" id="banner-media-edit-files">
                        No Media Selected.
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="banner-text" class="form-label">Text</label>
                    <input type="text" class="form-control" id="banner-text">
                </div>
                <div class="form-group mt-3">
                    <label for="sort-order" class="form-label">Sort Order</label>
                    <input type="number" class="form-control" id="sort-order">
                    <span class="d-none mb-3 form-validation-msg" id="sort-order-error"></span>
                </div>
            </div>
            <div class="modal-footer" id="banner-crud-btn">
                <button type="button" class="btn btn-secondary mission-theme-crud-close-btn" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary mission-theme-crud-save-btn" data-bs-dismiss="modal" id="banner-crud-save-btn" onclick="AddBanner('add', 0)">Save changes</button>
            </div>
        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>



<script src="/js/admin.js"></script>

