@{
Layout = "_TopNavbar";
ViewData["Title"] = "404 Not Found";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/PageNotFound.css" />
     <link rel="stylesheet" href="~/css/navbar.css" />



</head>

<body>

    <div class="">

        <div class="page-not-found-main-content d-flex flex-column align-items-center container">
            <div class="page-not-found-image d-flex flex-column align-items-center ">
                <img src="~/img/404-Page-image.png" alt="" class="img-fluid">
                <div class="page-not-found-image-desc"> Page Not Found</div>
            </div>
            <div class="page-not-found-desc d-flex flex-column align-items-center">
                <div class="page-not-found-desc-1">
                    <b>Oops!</b> The Page you were looking for doesn't exist.
                </div>
                <div class="page-not-found-desc-2">
                    You may have misstype the address or the page may have moved.
                </div>
                <div class="page-not-found-desc-3">
                    <a class="page-not-found-desc-3-btn" asp-action="Index">Go to Homepage <img src="~/img/right-arrow.png"
                            alt=""></a>
                </div>

            </div>
        </div>


    </div>


    <script src="./js/custom.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
</body>

</html>