@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" text="text/css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <title>Login Page</title>
</head>
<body>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="card ms-5 me-4 border-0 centerLogin">
                    <div class="card-body mt-5">
                        <form method="POST">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                                       placeholder="name@gmail.com" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                                       placeholder="EnterPassword">
                            </div>
                            <button type="submit" class="button mt-3">Login</button>
                            @*<button type="button" class="button mt-3" onclick="location.href='@Url.Action("Resetpass", "Home")'">Reset my Password</button>*@
                            <p class="d-flex justify-content-center mt-4">
                                <a class="nav-link text-dark lostpasstxt" asp-area="" asp-controller="Home" asp-action="ForgotPassword">Lost your Password?</a>
                            </p>
                            <p class="d-flex justify-content-center mt-4 createacc" >
                                Don't have an account?
                                <a class="nav-link text-dark registertxt" asp-area="" asp-controller="Home" asp-action="Register">Create an account</a>
                            </p>
                        </form>
                        <p class="d-flex justify-content-center mt-5 privacy">Privacy Policy</p>
                    </div>
                </div>
            </div>
</body>
</html>