@using CI.Entities.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model User;
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" text="text/css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <title>LoginPage</title>
</head>
<body>
            
            <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card ms-5 me-4 border-0 centerRegistrationForm">
                <div class="card-body">
                    <form asp-action="Register" asp-controller="HomeController">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" asp-for="FirstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="validationCustom01" asp-for="FirstName"
                              placeholder="Enter your FirstName">
                             <span class="text-danger" asp-validation-for="FirstName"></span>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" asp-for="LastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="validationCustom01" asp-for="LastName"
                              placeholder="Enter your LastNmae" >
                             <span class="text-danger" asp-validation-for="LastName"></span>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" asp-for="PhoneNumber" class="form-label">Phone Number</label>
                            <input type="number" class="form-control" id="validationCustom01" asp-for="PhoneNumber"
                              placeholder="Enter your PhoneNo." max-width="12" 
                             min-width="10">
                             <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" asp-for="Email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" asp-for="Email"
                            placeholder="name@gmail.com" aria-describedby="emailHelp">
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" asp-for="Password" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" asp-for="Password" onchange="Validate()"
                          placeholder="EnterPassword">
                          <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword2" name="password1"
                             placeholder="EnterPassword">
                            <span class="text-danger">@{@ViewBag.Message}</span>
                          </div>
                        <button type="submit" class="button mt-2 disabled" id="register-btn" onclick="ValidatePassword()">Register</button>
                        <p class="d-flex justify-content-center mt-5 createacc">Aready Registered?
                            <a class="nav-link text-dark registerlogin" asp-area="" asp-controller="Home" asp-action="Login">Login now</a></p>
                    </form> 
                    <p class="d-flex justify-content-center mt-2 registerprivacy">Privacy Policy</p> 
                </div>
              </div>
            </div>

            @*<script type="text/javascript">
                function Validate() {
                    var password = document.getElementById("exampleInputPassword1").value;
                    var confirmPassword = document.getElementById("exampleInputPassword2").value;
                    if (password != confirmPassword) {
                        document.getElementById("register-btn").setAttribute('disabled', true);
                    } else {
                        document.getElementById("register-btn").setAttribute('disabled', false);
                    }
                    
                }
            </script>*@
       
</body>
</html>