@*@model IEnumerable<CI.Entities.Models.Mission>;*@
@using CIWeb.Models;
@using CI.Entities.Models;
@{
    Layout = "_TestNavbar";
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  
    <link rel="stylesheet" href="~/css/LandingPage.css" />

    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    //<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#list').click(function (event) { event.preventDefault(); $('#products .item').addClass('list-group-item'); });
            $('#grid').click(function (event) { event.preventDefault(); $('#products .item').removeClass('list-group-item'); $('#products .item').addClass('grid-group-item'); });
        });

    </script>



</head>

<body>

    <div class="">
        

        <div class="container">
            <div class="filters-section d-flex align-items-center flex-wrap">
                
            </div>
            <div class="d-flex align-items-center justify-content-between mission-listing-title">
                <div class="landing-page-mission-header">
                    Explore <b id="landing_total_missions"></b>
                </div>

                <div>

                    <div class="row d-flex align-items-center">



                        <div class="my-3">
                            <div class="pull-right d-flex sortby align-items-center">  
                                <div class="dropdown ms-1 pe-5 ps-2">
                                    <a class="text-reset me-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                       role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                                        Sort By
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" id="" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group d-none d-lg-flex" style="box-shadow: none;">

                                        <button class="btn" id="grid">
                                        <img src="~/img/grid.png" alt="">
                                    </button>
                                    <button class="btn" id="list">
                                        <img src="~/img/list.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="products" class="row view-group">
    
            </div>

           
        </div>

    </div>

    <nav aria-label="Page navigation example mt-5" class="d-flex justify-content-center">
        <ul class="pagination">
        
                <li class="page-item @(ViewBag.CurrentPage == 0 ? "disabled" : "")">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 0; i < ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        <a class="page-link" >@((i + 1).ToString())</a>
                    </li>
                }
                <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages - 1 ? "disabled" : "")">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    <script>

        function returnCards(response) {
            return response.missions.map(item => 
                `
                <div class="item col-12 col-md-6 col-xl-4">
                            <div class="thumbnail card">
                                <div class="img-event">
                                    <img class="group list-group-image img-fluid" style="width:100%;"
                                         src="/img/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />
                                    <div class="landing-page-top-right"><img src="/img/pin.png" alt=""> ${item.city.name}</div>
                                    <div class="landing-page-bottom-right d-flex flex-column">
                                        <button class="mb-2 landing-page-btn-img">
                                            <img src="/img/heart.png" alt="">
                                        </button><button class="landing-page-btn-img">
                                            <img src="/img/user.png"
                                                 alt="">
                                        </button>
                                    </div>

                                    <div class="landing-page-bottom-center">${item.theme.title}</div>
                                </div>
                                <div class="caption card-body">
                                    <h4 class="group card-title inner list-group-item-heading">
                                       ${item.title}
                                    </h4>
                                    <p class="group inner landing-page-list-group-item-text">
                                       ${item.desc}
                                    </p>
                                    <div class="d-flex justify-content-between landing-page-card-rating">
                                        <div>Tree Canada</div>
                                        <div>
                                            <img src="/img/selected-star.png" alt="">
                                            <img src="/img/selected-star.png" alt="">
                                            <img src="/img/selected-star.png" alt="">
                                            <img src="/img/star.png" alt="">
                                            <img src="/img/star.png" alt="">
                                        </div>
                                    </div>
                                    <div class="rule d-flex mt-1">
                                            <hr>
                                            <button class="date-btn mt-1">From ${item.startdate.substring(0,10)} until ${item.enddate.substring(0,10)}</button>
                                            <hr>
                                    </div>
                                    <div class="row landing-page-box-border">
                                        <div class="col-6 col-md-6 d-flex align-items-center">
                                            <p class="lead me-2 pt-2">
                                                <img src="/img/Seats-left.png" alt="">
                                                <div>
                                                    <div>10</div>
                                                    <div class="landing-page-card-vol-small">Seats Left</div>
                                                </div>
                                            </p>
                                        </div>
                                        <div class="col-6 col-md-6 d-flex align-items-center">
                                            <p class="lead me-2 pt-2">
                                                <img src="/img/deadline.png" alt="">
                                                <div>
                                                    <div>09/01/2023</div>
                                                    <div class="landing-page-card-vol-small">Deadline</div>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="">
                                            <a class="btn mt-2 landing-page-apply-mission-btn" asp-controller="Volunteer" asp-action="Index">
                                                Apply <img src="/img/right-arrow.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                ` 
            ).join('')

        }

        $(window).load(function () {
            //cards
            $.ajax({
                type: "GET",
                url: "api/test",
                dataType: 'json',
                success: function (response) {
                    var totalMissions = document.getElementById("landing_total_missions")
                    totalMissions.innerHTML = `${response.totalMissions} Missions`
                    console.log(response)
                    var element = document.getElementById("products");
                    element.innerHTML = returnCards(response);
                    
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

            //city
            
        });
    </script>
     
    <script src="~/js/filter.js"></script>
</body>

</html>