@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/navbar.css">
</head>

<body>

    <div>
        <nav class="navbar headernav navbar-expand-lg fixed-top" style="background-color: #ffffff;">
            <div class="container">
                <div class="d-flex col-md-6 d-flex justify-content-center justify-content-md-start">

                    <a asp-action="Index" asp-controller="Story" style="text-decoration: none;">Stories</a>
                    <div class="dropdown ms-5">
                        <a class="text-reset me-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-mdb-toggle="dropdown" aria-expanded="false">
                            Policy
                        </a>
                        <ul class="dropdown-menu ddpolicy dropdown-menu-start" aria-labelledby="navbarDropdownMenuLink" id="dropdown-menu-start-privacy">
                            <li><a class="dropdown-item" asp-action="Privacy" asp-controller="Profile" >Read Policy</a></li>
                            
                        </ul>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span><img src="~/img/menu-bar.svg" alt="logo"></span>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                     aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body justify-content-end">

                        <ul class="navbar-nav col-md-6 justify-content-end">
                            <li class="nav-item d-flex align-items-center">

                                @if (@ViewBag.user != null)
                                {
                                    <div class="dropdown">
                                        <a class="text-reset dropdown-toggle d-flex align-items-center" href="#"
                                       id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown"
                                       aria-expanded="false">
                                            <img src="~/mediaUpload/@ViewBag.user.Avatar" class="rounded-circle me-3" height="22" alt=""
                                             loading="lazy" style="
                                                            width: 30px;
                                                            height: 30px;
                                                        " />
                                            @ViewBag.user.FirstName @ViewBag.user.LastName 
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-start"
                                        aria-labelledby="navbarDropdownMenuLink">
                                            @if(ViewBag.user.Admin == 1)
                                                {
                                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Admin">Admin</a></li>
                                                }
                                            <li><a class="dropdown-item" asp-action="Index" asp-controller="Profile">My profile</a></li>
                                            <li><a class="dropdown-item" asp-action="Index" asp-controller="Timesheet">Volunteering Timesheet</a></li>
                                            <li><a class="dropdown-item" asp-action="login" asp-controller="User">Logout</a></li>
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <a class="btn me-2" role="button" aria-disabled="true" asp-action="Login" asp-controller="User" style="background-color:#f88735;color:#fff;box-shadow: none;">Login</a>
                                    <a class="btn" role="button" aria-disabled="true" asp-action="Register" asp-controller="User" style="background-color:#f88735;color:#fff;box-shadow: none;">Register</a>

                                }


                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>


        

   

        @RenderBody();

    </div>

    <script>

        // for load CMS-slug in top navbar
        function loadSidebar(response) {
            return response.result.map(item => `<li><a class="dropdown-item" href="/Profile/Privacy#${item.slug}">${item.title}</a></li>`).join("");
        }
        
        // to load data from CMS-Table to privacy dropdown
          $.ajax({
                type: "GET",
                url: `/api/privacy`,
                success: function (response) {

                    console.log(response);

                    var sidebar = document.getElementById('dropdown-menu-start-privacy');
                    sidebar.innerHTML = loadSidebar(response);
                                        

                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
             });


    </script>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>
    <script src="~/js/filter.js"></script>

</body>

</html>