@using CI.Entities.Models
@model User;

<head>
    

    <link href="~/css/bootstrap.min.css" rel="stylesheet" text="text/css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <title>Login Page</title>
</head>
<body>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="card ms-5 me-4 border-0 centerLogin">
                    <div class="card-body mt-5">    
                        <form asp-action="Login" asp-controller="User">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" asp-for="Email" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" asp-for="Email"
                                       placeholder="name@gmail.com" aria-describedby="emailHelp">
                                       <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" asp-for="Password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" asp-for="Password"
                                       placeholder="EnterPassword">
                                       <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                            <button type="submit" class="button mt-3">Login</button>
                            <p class="d-flex justify-content-center mt-4">
                                <a class="nav-link text-dark lostpasstxt" asp-area="" asp-controller="User" asp-action="ForgotPassword">Lost your Password?</a>
                            </p>
                            <p class="d-flex justify-content-center mt-4 createacc" >
                                Don't have an account?
                                <a class="nav-link text-dark registertxt" asp-area="" asp-controller="User" asp-action="Register">Create an account</a>
                            </p>
                        </form>
                        <p class="d-flex justify-content-center mt-5 privacy">Privacy Policy</p>
                    </div>
                </div>
            </div>
</body>
