body {
}

.sharestory {
    margin-top: 60px;
}

.savecancelbtn {
    border-color: #F88634;
    color: #F88634;
}

.share-story-btn {
    border-radius: 30px !important;
}

.form-validation-msg {
    font-size: 12px;
    color: red;
}